body {
  font-size: 10pt;
  font-family: sans-serif;
  max-width: 800pt;
}

h2 {
  font-size: 14pt;
  color: #666666;
}

strong {
  color: #990044;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #008800;
}

a:before {
  content: "\21D2";
  color: #008800;
}

table {
  margin: 12pt 0;
  border-collapse: collapse;
  background-color: #E0E0E0;
}

table caption {
  font-size: 14pt;
  color: #333333;
  border: 1pt solid #AAAAAA;
  border-width: 1pt 1pt 0 1pt;
  padding: 5pt 10pt;
  background-color: #E0E0E0;
}

th {
  font-weight: bold;
  background-color: #C0C0C0;
}

th, td {
  border: 1pt solid #AAAAAA;
  padding: 5pt 10pt;
}

td:first-child {
  font-weight: bold;
  text-align: center;
}

td:last-child {
  font-weight: bold;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #EEEEEE;
}

iframe[seamless] {
    border: none;
}

.fuse {
    width: 30pt;
}