<?xml version="1.0" encoding="utf-8"?>
<root>
    <menu name="Acura" link="acura/menu.xml" />
    <menu name="Alfa Romeo" link="alfa_romeo/menu.xml" />
    <menu name="Audi" link="audi/menu.xml" />
    <menu name="BMW" link="bmw/menu.xml" />
    <menu name="Cadillac" link="cadillac/menu.xml" />
    <menu name="Chrysler" link="chrysler/menu.xml" />
    <menu name="Citroen" link="citroen/menu.xml" />
    <menu name="Dodge" link="dodge/menu.xml" />
    <menu name="Fiat" link="fiat/menu.xml" />
    <menu name="Ford" link="ford/menu.xml" />
    <menu name="Honda" link="honda/menu.xml" />
    <menu name="Hummer" link="hummer/menu.xml" />
    <menu name="Hyundai" link="hyundai/menu.xml" />
    <menu name="Infiniti" link="infiniti/menu.xml" />
    <menu name="Isuzu" link="isuzu/menu.xml" />
    <menu name="Jeep" link="jeep/menu.xml" />
    <menu name="KIA" link="kia/menu.xml" />
    <menu name="Land Rover" link="land_rover/menu.xml" />
    <menu name="Lexus" link="lexus/menu.xml" />
    <menu name="Mazda" link="mazda/menu.xml" />
    <menu name="Mercedes" link="mercedes/menu.xml" />
    <menu name="Mini" link="mini/menu.xml" />
    <menu name="Mitsubishi" link="mitsubishi/menu.xml" />
    <menu name="Nissan" link="nissan/menu.xml" />
    <menu name="Opel" link="opel/menu.xml" />
    <menu name="Peugeot" link="peugeot/menu.xml" />
    <menu name="Porsche" link="porsche/menu.xml" />
    <menu name="Renault" link="renault/menu.xml" />
    <menu name="Saab" link="saab/menu.xml" />
    <menu name="Seat" link="seat/menu.xml" />
    <menu name="Skoda" link="skoda/menu.xml" />
    <menu name="Subaru" link="subaru/menu.xml" />
    <menu name="Suzuki" link="suzuki/menu.xml" />
    <menu name="Tesla" link="tesla/menu.xml" />
    <menu name="Toyota" link="toyota/menu.xml" />
    <menu name="Volkswagen" link="volkswagen/menu.xml" />
    <menu name="Volvo" link="volvo/menu.xml" />
</root>