<?xml version="1.0" encoding="utf-8"?>
<menu>
    <folder name="Acura" link="acura/menu.xml" />
    <folder name="Alfa Romeo" link="alfa_romeo/menu.xml" />
    <folder name="Audi" link="audi/menu.xml" />
    <folder name="BMW" link="bmw/menu.xml" />
    <folder name="Cadillac" link="cadillac/menu.xml" />
    <folder name="Chrysler" link="chrysler/menu.xml" />
    <folder name="Citroen" link="citroen/menu.xml" />
    <folder name="Dodge" link="dodge/menu.xml" />
    <folder name="Fiat" link="fiat/menu.xml" />
    <folder name="Ford" link="ford/menu.xml" />
    <folder name="Honda" link="honda/menu.xml" />
    <folder name="Hummer" link="hummer/menu.xml" />
    <folder name="Hyundai" link="hyundai/menu.xml" />
    <folder name="Infiniti" link="infiniti/menu.xml" />
    <folder name="Isuzu" link="isuzu/menu.xml" />
    <folder name="Jeep" link="jeep/menu.xml" />
    <folder name="KIA" link="kia/menu.xml" />
    <folder name="Land Rover" link="land_rover/menu.xml" />
    <folder name="Lexus" link="lexus/menu.xml" />
    <folder name="Mazda" link="mazda/menu.xml" />
    <folder name="Mercedes" link="mercedes/menu.xml" />
    <folder name="Mini" link="mini/menu.xml" />
    <folder name="Mitsubishi" link="mitsubishi/menu.xml" />
    <folder name="Nissan" link="nissan/menu.xml" />
    <folder name="Opel" link="opel/menu.xml" />
    <folder name="Peugeot" link="peugeot/menu.xml" />
    <folder name="Porsche" link="porsche/menu.xml" />
    <folder name="Renault" link="renault/menu.xml" />
    <folder name="Saab" link="saab/menu.xml" />
    <folder name="Seat" link="seat/menu.xml" />
    <folder name="Skoda" link="skoda/menu.xml" />
    <folder name="Subaru" link="subaru/menu.xml" />
    <folder name="Suzuki" link="suzuki/menu.xml" />
    <folder name="Tesla" link="tesla/menu.xml" />
    <folder name="Toyota" link="toyota/menu.xml" />
    <folder name="Volkswagen" link="volkswagen/menu.xml" />
    <folder name="Volvo" link="volvo/menu.xml" />
</menu>